* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
@font-face {
  font-family: 'Eastman Trial';
  src: url(../fonts/eastman-trial-regular.otf);
}
/* =================== Mobile =================== */
/* ====== Top Menu ====== */
.page-wrapper {
  width: 100vw;
  max-width: 479px;
  margin: 0 auto;
  overflow: hidden;
}
nav {
  display: none;
}
#partner {
  display: none;
}
header {
  width: 100%;
  height: 80px;
  background: #7202BB;
}
.top-nav-wrapper {
  color: white;
  width: 319px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  position: relative;
}
.top-nav-container_logo, .footer-content-top {
  width: 258px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-nav-container_logo h1, .footer-content-top h1 {
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
}
.top-nav-container_logo hr, .footer-content-top hr {
  width: 31px;
  height: 3px;
  border: none;
  background: white;
  position: relative;
  bottom: 2px;
  left: 4px;
  transform: rotate(90deg);
}
.top-nav-container_logo p, .footer-content-top p {
  width: 101px;
  font-size: 10px;
  line-height: 16px;
}
.top-nav-container-burger {  /* стилизуем бургер меню*/
  position: relative;
}
#burger-toogle {
  opacity: 0;
}
.burger-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 29px;
  right: 0;
  width: 32px;
  height: 22px;
  cursor: pointer;
}
.burger-button>span, .burger-button>span::before, .burger-button>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 4px;
  transition-duration: 0.3s;
  z-index: 15;
}
.burger-button>span::before {
  content: "";
  top: -10px;
}
.burger-button>span::after {
  content: "";
  top: 10px;
}
.burger-back {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(38, 1, 63, 0.7);
  list-style: none;
  z-index: 10;
}
.burger-box {
  width: 185px;
  height: 100%;
  background: #7202bb;
  margin-left: auto;
  padding-top: 60px;
  list-style: none;
  transition-duration: 0.3s;
}
.burger-box li {
  margin-top: 17px;
  text-align: center;
}
.burger-item {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  transition-duration: 0.3s;
}
.burger-box li:nth-child(8) {
  margin-top: 2px;
  opacity: 0.5;
}
.burger-box li:nth-child(8) .burger-item {
  font-size: 10px;
}
.burger-box li:nth-child(9) {
  border: 2px solid white;
  margin: 17px 15px 0 15px;
  border-radius: 8px;
}
.burger-box li:nth-child(9) .burger-item {
  font-size: 14px;
  white-space: normal;
}
#burger-toogle:checked~.burger-button>span {
  transform: rotate(45deg);
}
#burger-toogle:checked~.burger-button>span::before {
  top: 0;
  transform: rotate(0);
}
#burger-toogle:checked~.burger-button>span::after {
  top: 0;
  transform: rotate(90deg);
}
#burger-toogle:checked~.burger-back {
  visibility: visible;
  right: 0;
}

/* ====== Product Place ====== */

.productPlace {
  width: 100%;
  padding-top: 79.75%;
  background-image: url(../images/phone/top_background_1_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
}
.productPlace-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 186px;
  width: 320px;
  margin: auto auto;
  text-align: center;
}
.productPlace-wrapper p {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.productPlace-wrapper p:nth-child(2) {
  left: -100px;
  top: -12px;
}
.productPlace-wrapper p:nth-child(3) {
  font-size: 12px;
  top: -5px;
 }
@keyframes type {
  from  {width: 0px;}
  to    {width: 200px;}
}
@keyframes blink {
  form  {border-right-color: black;}
  to    {border-right-color: transparent;}
}
.productPlace-wrapper p span {
  color: #7202BB;
  display: inline-flex;
  align-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  animation: type 1.5s steps(16) 3 alternate backwards, blink 500ms infinite;
  border-right: 2px solid black;
  box-sizing: border-box;
  padding-right: 5px;
  margin-left: 10px;
  position: absolute;
}
.productPlace-wrapper a {
  text-decoration: none;
  padding: 10px;
  background: #7202BB;
  color: white;
  font-size: 11px;
  border-radius: 8px;
}

/* ====== Numbers ====== */

.numbers {
  width: 100%;
  height: 445px;
}
.numbers-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 61% 39%;
}
.numbers-item-one {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  background-image: url(../images/phone/Vector_1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60% 100%;
  justify-content: space-between;
  padding: 15px 0;
}
.numbers-radio input[type=radio] {
  display: none;
}
.numbers-radio label img {
  opacity: 0.5;
}
.numbers-radio {
  display: flex;
  position: relative;
  width: 307px;
  margin: 0 auto;
  color: white;
}
.numbers_radio-content {
  position: absolute;
  top: 0;
  left: 40%;
  text-align: right;
  max-height: 268px;
  visibility: hidden;
}
.numbers_radio-content h2 {
  font-size: 13px;
  width: 200px;
  margin-left: -15px;
  margin-top: 0;
}
.numbers_radio-item p {
  font-size: 30px;
  font-weight: 900;
  margin-top: -6px;
}
.numbers_radio-item p:first-child {
  font-size: 8px;
  font-weight: normal;
  margin-top: 10px;
  opacity: 0.5;
}
.numbers_radio-item p:last-child {
  font-size: 8px;
  font-weight: normal;
}
.numbers-radio input[type=radio]:checked+label>img {
  opacity: 1;
  transition-duration: .3s;
}
@keyframes radioContent {
  0% {opacity: 0}
  100% {opacity: 1}
}
.numbers-radio input[type=radio]:checked+label+.numbers_radio-content {
  visibility: visible;
  animation: radioContent .8s ease-in-out;
}
.numbers-radio:nth-child(2) .numbers_radio-content {
  position: absolute;
  top: calc(-100% - 12px);
}
.numbers-radio:nth-child(3) .numbers_radio-content {
  position: absolute;
  top: calc(-200% - 29px);
}
.numbers-radio:nth-child(4) .numbers_radio-content {
  position: absolute;
  top: calc(-300% - 39px);
}
.numbers-radio:nth-child(5) .numbers_radio-content {
  position: absolute;
  top: calc(-400% - 38px);
}
.numbers-radio:nth-child(6) .numbers_radio-content {
  position: absolute;
  top: calc(-500% - 49px);
}
.numbers-item-two {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #7202BB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nit-wrapper {
  width: 303px;
  height: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nit-wrapper h3 {
  font-size: 15px;
}
.nit-content {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.nit-item:nth-child(even) {
  text-align: right;
}
.nit-item p {
  font-size: 30px;
  font-weight: 900;
}
.nit-item p:last-child {
  font-size: 8px;
  opacity: 0.75;
  margin-top: -5px;
}

/* ====== Helpful ====== */

.helpful-wrapper {
  display: flex;
  flex-direction: column;
  width: 319px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.helpful-wrapper>p {
  font-size: 25px;
  font-weight: bold;
}
.helpful-content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.helpful-content h3 {
  font-size: 14px;
  margin-top: 12px;
  font-weight: bold;
  color: #7202BB;
}
.helpful-content p {
  font-size: 11px;
  margin-top: 6px;
  width: 219px;
}

/* ====== Succes ====== */

.success {
  background: #F2F2F2;
}
.success-wrapper {
  padding-left: 160px;
  background-image:  url(../images/phone/Group_6-1.png), url(../images/phone/Group_6-2.png), url(../images/phone/Group_6.png) ;
  background-repeat: no-repeat;
  background-position:  7% 7%, 20% 85%, 2% -35%;
}
.success-content {
  max-width: 231px;
  display: flex;
  flex-direction: column;
}
.success-content h3 {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  line-height: 31px;
}
.success-content h2 {
  font-size: 34px;
  color: #7202BB;
  width: 100%;
  text-align: center;
}
.success-content p {
  font-size: 13px;
  font-weight: 300;
  text-align: right;
  width: 179px;
  margin-left: auto;
  margin-top: 10px;
  opacity: 0.75;
}
.success-content a {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 10px;
  border-radius: 8px;
  background: #7202BB;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 420px) {
  .success-content {
    max-width: 200px;
  }
  .success-content h3 {
    font-size: 20px;
  }
  .success-content h2 {
    font-size: 28px;
    margin-left: 15px;
  }
  .success-content p {
    font-size: 11px;
  }
  .success-wrapper {
    background-position: 8% 2%, 15% 100%, 0% 100%;
  }
}

/* ====== Services ====== */

div[class^="services"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.services-wrapper {
  width: 243px;
  margin: 35px auto;
}
.services-content {
  text-align: center;
  margin-top: 100px;
  background: #7202BB;
  padding: 63px 15px 15px 15px;
  border-radius: 15px;
  position: relative;
}
.services-content img {
  position: absolute;
  right: 30%;
  left: 30%;
  bottom: 80%;
}
.services-content * {
  font-family: 'Eastman Trial';
  color: white;
  text-align: center;
}
.services-content h3 {
  font-size: 13px;
  font-weight: 600;
  width: 117px;
}
.services-content p {
  font-size: 13px;
  margin-top: 18px;
  opacity: 0.75;
}
.services-content a {
  margin-top: 28px;
  text-decoration: none;
  border-bottom: 1.5px solid white;
}
.services-item {
  width: 100vw;
  margin-top: 30px;
  position: relative;
}
.services-item hr {
  width: 100%;
  border: 1px solid #7202BB;
  position: absolute;
  top: 50%;
  z-index: 5;
}
.services-text {
  width: 265px;
  font-family: 'Roboto Slab';
  text-align: center;
  font-size: 14px;
  z-index: 10;
  background: white;
}


/* ====== Additional ====== */

.additional-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-wrapper h2 {
  width: 280px;
  text-align: center;
}
.additional-content {
  width: 320px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 30px 22px;
}
.additional-item-pic {
  height:110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.additional-item p {
  font-size: 7px;
  text-align: center;
  margin-top: 5px;
}

/* ====== Work ====== */

.work-wrapper {
  margin: 30px auto;
  width: 303px;
}
.work-wrapper h2 {
  text-align: center;
  font-size: 25px;
}
.work-content {
  padding-left: 44px;
}
.work-content h3 {
  font-size: 14px;
  margin-top: 20px;
  color: #7202BB;
}
.work-content p {
  font-size: 11px;
  margin-top: 5px;
}
.work-content ol {
  counter-reset: myCounter;
}
.work-content ol li {
  list-style: none;
  position: relative;
}
.work-content ol li::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  background: #7202BB;
  position: absolute;
  left: -44px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  font-size: 22px;
  font-family: 'Impact';
  font-weight: bold;
  z-index: 2;
}
.work-content ol li:not(:last-child)::after {
  content: "";
  height: 130%;
  border: 1px dashed #7202BB;
  position: absolute;
  top: 0;
  left: -28.5px;
  z-index: 1;
}

/* ====== Sentence ====== */

.sentence {
  background: #F2F2F2;
  text-align: center;
}
.sentence-wrapper {
  padding: 20px 0;
}
.sentence-wrapper h2 {
  font-size: 34px;
  color: #7202BB;
}
.sentence-wrapper h3 {
  width: 300px;
  font-size: 20px;
  margin: 5px auto 10px auto;
}
.sentence-wrapper p {
  font-size: 14px;
}
.sentence-wrapper form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto 0 auto;
}
.sentence-wrapper input:not([type=submit]) {
  height: 49px;
  margin-bottom: 11px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  padding-left: 9px;
  font-size: 11px;
}
.sentence-wrapper input:not([type=submit])::placeholder {
  color: black;
  opacity: 0.25;
}
.sentence-wrapper input:not([type=submit]):focus {
  outline: none;
}
.sentence-wrapper input[type=submit] {
  width: 163px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #7202BB;
  border-radius: 9px;
  border: none;
  font-size: 12px;
  color: white;
}

/* ====== Clients ====== */

.clients-wrapper  {
  width: 319px;
  margin: 35px auto 0 auto;
  text-align: center;
}
.clients-wrapper h2 {
  margin-bottom: 10px;
}
.clients-content {
  display: flex;
  flex-direction: row;
}
.clients-radio {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
}
.clients-radio label {
  width: max-content;
  z-index: 15;
  margin: 0 auto;
}
.clients-radio:nth-child(2) {
  right: 100%;
}
.clients-radio:nth-child(2) label {
  position: relative;
  right: 40px;
}
.clients-radio:nth-child(3) {
  right: 200%;
}
.clients-radio:nth-child(3) label {
  position: relative;
  left: 40px;
}
.clients-radio input[type=radio] {
  display: none;
}
.clients-radio-label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7202BB;
  opacity: 0.5;
  margin: 15px auto 40px auto;
}
.clients-radio-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.clients-radio-item {
  opacity: 0;
}
.clients-radio-item p {
  width: 300px;
  margin: 0 auto;
  font-size: 12px;
  text-align: left;
  opacity: 0.75;
  margin-top: 5px;
}
.clients-radio-item p span {
  color: #7202BB;
}
.clients-radio-item img {
  margin-top: 10px;
}
.clients-radio:nth-child(2) img {
  filter: sepia(75%);
}
.clients-radio:nth-child(3) img {
  filter: hue-rotate(270deg);
}
.clients-radio input[type=radio]:checked+label>.clients-radio-label {
  opacity: 1;
}
.clients-radio input[type=radio]:checked+label+.clients-radio-item {
  opacity: 1;
  transition: all .75s ease-in-out;
}

/* ====== Setup ====== */

.setup-wrapper {
  width: 319px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 12px 20px 15px;
  border-radius: 24px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
}
.setup-wrapper h2 {
  margin: 0 0 25px 0;
  font-size: 19px;
}
.setup-wrapper form {
  display: flex;
  flex-direction: column;
}
.setup-wrapper form input:not([type=submit]) {
  margin-bottom: 15px;
  height: 17px;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.setup-wrapper form input:not([type=submit])::placeholder {
  opacity: 0.25;
  font-size: 11px;
}
.setup-wrapper form input:not([type=submit]):focus {
  outline: none;
  border-bottom:2px solid #7202BB;
}
.setup-wrapper form input[type=submit] {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  border: none;
  background: #7202bb;
  border-radius: 9px;
  margin-bottom: 15px;
}
.setup-wrapper p {
  font-size: 11px;
}
.setup-wrapper p a {
  color: #7202BB;
}

/* ====== Footer ====== */

footer {
  height: 110px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrapper {
  height: 80px;
  width: 291px;
}
.footer-content-top {
  color: white;
  width: 257px;
  margin: 0 auto;
}
.footer-content-bot {
  display: flex;
  justify-content: space-between;
}
.footer-bot-item {
  display: flex;
  flex-flow: column;
  color: white;
}
.footer-bot-item a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.footer-bot-item a:first-child {
  margin-top: 5px;
}
.footer-bot-item a:last-child {
  font-size: 8px;
}
.footer-bot-item p {
  font-size: 10px;
  text-align: center;
}
.footer-bot-item h3 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding: 0 20px;
  border: 1px solid white;
  box-sizing: border-box;
}

/* =================== Tablete =================== */

@media (min-width: 480px) {
  .page-wrapper {
    max-width: 999px;
  }

  /* ====== Top Menu ====== */
  header {
    margin-bottom: 48px;
  }
  .top-nav-wrapper {
    width: 750px;
  }
  #partner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 318px;
    height: 47px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 9px;
  }
  .burger-box li:last-child {
    display: none;
  }

  /* ====== Product Place ====== */

  .productPlace {
    height: 337px;
    width: 769px;
    padding-top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url(../images/Tablet/top_background_2.png);
    background-size: auto 100%;
    background-position: right;
  }
  .productPlace-wrapper {
    margin: auto 0;
    text-align: left;
    align-items: flex-start;
  }
  .productPlace-wrapper p:nth-child(2) {
    left: 0;
  }
  .productPlace-wrapper a {
    font-size: 12px;
    padding: 10px 25px;
  }
}

@media (min-width:480px) and (max-width: 800px) {
  header {
    margin-bottom: 6vw;
  }
  .top-nav-wrapper {
    width: 93%;
  }
  #partner {
    width: max-content;
    height: max-content;
    font-size: 2vw;
    padding: 1.5% 5vw;
  }
  .productPlace {
    width: 93%;
    padding-top: 45.3%;
    background-size: 61%;
  }
}

@media (min-width:480px) and (max-width: 560px) {
  #partner {
    padding: 1.5% 3.5vw;
    margin-right: 5%;
  }
}
