* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
@font-face {
  font-family: 'Eastman Trial';
  src: url(../fonts/eastman-trial-regular.otf);
}
/* =================== Mobile =================== */
/* ====== Top Menu ====== */
.page-wrapper {
  width: 100vw;
  max-width: 479px;
  margin: 0 auto;
  overflow: hidden;
}
nav {
  display: none;
}
#partner {
  display: none;
}
header {
  width: 100%;
  height: 80px;
  background: #7202BB;
}
.top-nav-wrapper {
  color: white;
  width: 319px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  position: relative;
}
.top-nav-container_logo, .footer-content-top {
  width: 258px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-nav-container_logo h1, .footer-content-top h1 {
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
}
.top-nav-container_logo hr, .footer-content-top hr {
  width: 31px;
  height: 3px;
  border: none;
  background: white;
  position: relative;
  bottom: 2px;
  left: 4px;
  transform: rotate(90deg);
}
.top-nav-container_logo p, .footer-content-top p {
  width: 101px;
  font-size: 10px;
  line-height: 16px;
}
.top-nav-container-burger {  /* стилизуем бургер меню*/
  position: relative;
}
#burger-toogle {
  opacity: 0;
}
.burger-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 29px;
  right: 0;
  width: 32px;
  height: 22px;
  cursor: pointer;
}
.burger-button>span, .burger-button>span::before, .burger-button>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 4px;
  transition-duration: 0.3s;
  z-index: 15;
}
.burger-button>span::before {
  content: "";
  top: -10px;
}
.burger-button>span::after {
  content: "";
  top: 10px;
}
.burger-back {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(38, 1, 63, 0.7);
  list-style: none;
  z-index: 10;
}
.burger-box {
  width: 185px;
  height: 100%;
  background: #7202bb;
  margin-left: auto;
  padding-top: 60px;
  list-style: none;
  transition-duration: 0.3s;
}
.burger-box li {
  margin-top: 17px;
  text-align: center;
}
.burger-item {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  transition-duration: 0.3s;
}
.burger-box li:nth-child(8) {
  margin-top: 2px;
  opacity: 0.5;
}
.burger-box li:nth-child(8) .burger-item {
  font-size: 10px;
}
.burger-box li:nth-child(9) {
  border: 2px solid white;
  margin: 17px 15px 0 15px;
  border-radius: 8px;
}
.burger-box li:nth-child(9) .burger-item {
  font-size: 14px;
  white-space: normal;
}
#burger-toogle:checked~.burger-button>span {
  transform: rotate(45deg);
}
#burger-toogle:checked~.burger-button>span::before {
  top: 0;
  transform: rotate(0);
}
#burger-toogle:checked~.burger-button>span::after {
  top: 0;
  transform: rotate(90deg);
}
#burger-toogle:checked~.burger-back {
  visibility: visible;
  right: 0;
}

/* ====== Product Place ====== */

.productPlace {
  width: 100%;
  padding-top: 79.75%;
  background-image: url(../images/phone/top_background_1_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
}
.productPlace-img {
  display: none;
}
.productPlace-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 186px;
  width: 320px;
  margin: auto auto;
  text-align: center;
}
.productPlace-wrapper p {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.productPlace-wrapper p:nth-child(2) {
  left: -100px;
  top: -12px;
}
.productPlace-wrapper p:nth-child(3) {
  font-size: 12px;
  top: -5px;
 }
@keyframes type {
  from  {width: 0px;}
  to    {width: 200px;}
}
@keyframes blink {
  form  {border-right-color: black;}
  to    {border-right-color: transparent;}
}
.productPlace-wrapper p span {
  color: #7202BB;
  display: inline-flex;
  align-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  animation: type 1.5s steps(16) 3 alternate backwards, blink 500ms infinite;
  border-right: 2px solid black;
  box-sizing: border-box;
  padding-right: 5px;
  margin-left: 10px;
  position: absolute;
}
.productPlace-wrapper a {
  text-decoration: none;
  padding: 10px;
  background: #7202BB;
  color: white;
  font-size: 11px;
  border-radius: 8px;
}

/* ====== Numbers ====== */

.numbers {
  width: 100%;
  height: 445px;
}
.numbers-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 61% 39%;
}
.numbers-item-one {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  background-image: url(../images/phone/Vector_1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60% 100%;
  justify-content: space-between;
  padding: 15px 0;
}
.numbers-radio-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numbers-radio input[type=radio] {
  display: none;
}
.numbers-radio label picture {
  opacity: 0.5;
}
.numbers-radio {
  display: flex;
  position: relative;
  width: 307px;
  margin: 0 auto;
  color: white;
}
.numbers_radio-content {
  position: absolute;
  top: 0;
  left: 40%;
  text-align: right;
  max-height: 268px;
  visibility: hidden;
}
.numbers_radio-content h2 {
  font-size: 13px;
  width: 200px;
  margin-left: -15px;
  margin-top: 0;
}
.numbers_radio-item p {
  font-size: 30px;
  font-weight: 900;
  margin-top: -6px;
}
.numbers_radio-item p:first-child {
  font-size: 8px;
  font-weight: normal;
  margin-top: 10px;
  opacity: 0.5;
}
.numbers_radio-item p:last-child {
  font-size: 8px;
  font-weight: normal;
  opacity: 0.75;
}
.numbers-radio input[type=radio]:checked+label>picture {
  opacity: 1;
  transition-duration: .3s;
}
@keyframes radioContent {
  0% {opacity: 0}
  100% {opacity: 1}
}
.numbers-radio input[type=radio]:checked+label+.numbers_radio-content {
  visibility: visible;
  animation: radioContent .8s ease-in-out;
}
.numbers-radio:nth-child(2) .numbers_radio-content {
  position: absolute;
  top: calc(-100% - 12px);
}
.numbers-radio:nth-child(3) .numbers_radio-content {
  position: absolute;
  top: calc(-200% - 29px);
}
.numbers-radio:nth-child(4) .numbers_radio-content {
  position: absolute;
  top: calc(-300% - 39px);
}
.numbers-radio:nth-child(5) .numbers_radio-content {
  position: absolute;
  top: calc(-400% - 38px);
}
.numbers-radio:nth-child(6) .numbers_radio-content {
  position: absolute;
  top: calc(-500% - 49px);
}
.numbers-item-two {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #7202BB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nit-wrapper {
  width: 303px;
  height: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nit-wrapper h3 {
  font-size: 15px;
}
.nit-content {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.nit-item:nth-child(even) {
  text-align: right;
}
.nit-item p {
  font-size: 30px;
  font-weight: 900;
}
.nit-item p:last-child {
  font-size: 8px;
  opacity: 0.75;
  margin-top: -5px;
}

/* ====== Helpful ====== */

.helpful-wrapper {
  display: flex;
  flex-direction: column;
  width: 319px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.helpful-wrapper>p {
  font-size: 25px;
  font-weight: bold;
}
.helpful-content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.helpful-content h3 {
  font-size: 14px;
  margin-top: 12px;
  font-weight: bold;
  color: #7202BB;
}
.helpful-content p {
  font-size: 11px;
  margin-top: 6px;
  width: 219px;
}

/* ====== Succes ====== */

.success {
  background: #F2F2F2;
}
.success-wrapper {
  padding-left: 160px;
  background-image:  url(../images/phone/Group_6-1.png), url(../images/phone/Group_6-2.png), url(../images/phone/Group_6.png) ;
  background-repeat: no-repeat;
  background-position:  7% 7%, 20% 85%, 2% -35%;
}
.success-content {
  max-width: 231px;
  display: flex;
  flex-direction: column;
}
.success-content br {
  display: none;
}
.success-content h3 {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  line-height: 31px;
}
.success-content h2 {
  font-size: 34px;
  color: #7202BB;
  width: 100%;
  text-align: center;
}
.success-content p {
  font-size: 13px;
  font-weight: 300;
  text-align: right;
  width: 179px;
  margin-left: auto;
  margin-top: 10px;
  opacity: 0.75;
}
.success-content a {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 10px;
  border-radius: 8px;
  background: #7202BB;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 420px) {
  .success-content {
    max-width: 200px;
  }
  .success-content h3 {
    font-size: 20px;
  }
  .success-content h2 {
    font-size: 28px;
    margin-left: 15px;
  }
  .success-content p {
    font-size: 11px;
  }
  .success-wrapper {
    background-position: 8% 2%, 15% 100%, 0% 100%;
  }
}

/* ====== Services ====== */

div[class^="services"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.services-wrapper {
  width: 243px;
  margin: 35px auto;
}
.services-content {
  text-align: center;
  margin-top: 100px;
  background: #7202BB;
  padding: 63px 15px 15px 15px;
  border-radius: 15px;
  position: relative;
}
.services-content img {
  position: absolute;
  right: 30%;
  left: 30%;
  bottom: 80%;
}
.services-content * {
  font-family: 'Eastman Trial';
  color: white;
  text-align: center;
}
.services-content h3 {
  font-size: 13px;
  font-weight: 600;
  width: 117px;
}
.services-content p {
  font-size: 13px;
  margin-top: 18px;
  opacity: 0.75;
}
.services-content a {
  margin-top: 28px;
  text-decoration: none;
  border-bottom: 1.5px solid white;
}
.services-item {
  width: 100vw;
  margin-top: 30px;
  position: relative;
}
.services-item hr {
  width: 100%;
  border: 1px solid #7202BB;
  position: absolute;
  top: 50%;
  z-index: 5;
}
.services-text {
  width: 265px;
  font-family: 'Roboto Slab';
  text-align: center;
  font-size: 14px;
  z-index: 10;
  background: white;
}


/* ====== Additional ====== */

.additional-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-wrapper h2 {
  width: 280px;
  text-align: center;
}
.additional-content {
  width: 320px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 30px 22px;
}
.additional-item-pic {
  height:110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.additional-item p {
  font-size: 7px;
  text-align: center;
  margin-top: 5px;
}

/* ====== Work ====== */

.work-wrapper {
  margin: 30px auto;
  width: 303px;
}
.work-wrapper h2 {
  text-align: center;
  font-size: 25px;
}
.work-content {
  padding-left: 44px;
}
.work-content h3 {
  font-size: 14px;
  margin-top: 20px;
  color: #7202BB;
}
.work-content p {
  font-size: 11px;
  margin-top: 5px;
}
.work-content ol {
  counter-reset: myCounter;
}
.work-content ol li {
  list-style: none;
  position: relative;
}
.work-content ol li::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  background: #7202BB;
  position: absolute;
  left: -44px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  font-size: 22px;
  font-family: 'Impact';
  font-weight: bold;
  z-index: 2;
}
.work-content ol li:not(:last-child)::after {
  content: "";
  height: 130%;
  border: 1px dashed #7202BB;
  position: absolute;
  top: 0;
  left: -28.5px;
  z-index: 1;
}

/* ====== Sentence ====== */

.sentence {
  background: #F2F2F2;
  text-align: center;
}
.sentence-wrapper {
  padding: 20px 0;
}
.sentence-wrapper h2 {
  font-size: 34px;
  color: #7202BB;
}
.sentence-wrapper h3 {
  width: 300px;
  font-size: 20px;
  margin: 5px auto 10px auto;
}
.sentence-wrapper p {
  font-size: 14px;
}
.sentence-wrapper form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto 0 auto;
}
.sentence-wrapper input:not([type=submit]) {
  height: 49px;
  margin-bottom: 11px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  padding-left: 9px;
  font-size: 11px;
}
.sentence-wrapper input:not([type=submit])::placeholder {
  color: black;
  opacity: 0.25;
}
.sentence-wrapper input:not([type=submit]):focus {
  outline: none;
}
.sentence-wrapper input[type=submit] {
  width: 163px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #7202BB;
  border-radius: 9px;
  border: none;
  font-size: 12px;
  color: white;
}

/* ====== Clients ====== */

#viewport {
  display: none;
}
#viewSlider {
  display: none;
}
.clients button {
  display: none;
}
.clients-wrapper  {
  width: 319px;
  margin: 35px auto 0 auto;
  text-align: center;
}
.clients-wrapper h2 {
  margin-bottom: 10px;
}
.clients-content {
  display: flex;
  flex-direction: row;
}
.clients-radio {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
}
.clients-radio label {
  width: max-content;
  z-index: 15;
  margin: 0 auto;
}
.clients-radio:nth-child(2) {
  right: 100%;
}
.clients-radio:nth-child(2) label {
  position: relative;
  right: 40px;
}
.clients-radio:nth-child(3) {
  right: 200%;
}
.clients-radio:nth-child(3) label {
  position: relative;
  left: 40px;
}
.clients-radio input[type=radio] {
  display: none;
}
.clients-radio-label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7202BB;
  opacity: 0.5;
  margin: 15px auto 40px auto;
}
.clients-radio-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.clients-radio-item {
  opacity: 0;
}
.clients-radio-item p {
  width: 300px;
  margin: 0 auto;
  font-size: 12px;
  text-align: left;
  opacity: 0.75;
  margin-top: 5px;
}
.clients-radio-item p span {
  color: #7202BB;
}
.clients-radio-item img {
  margin-top: 10px;
}
.clients-radio:nth-child(2) img {
  filter: sepia(75%);
}
.clients-radio:nth-child(3) img {
  filter: hue-rotate(270deg);
}
.clients-radio input[type=radio]:checked+label>.clients-radio-label {
  opacity: 1;
}
.clients-radio input[type=radio]:checked+label+.clients-radio-item {
  opacity: 1;
  transition: all .75s ease-in-out;
}

/* ====== Setup ====== */

.setup-wrapper {
  width: 319px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 12px 20px 15px;
  border-radius: 24px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
}
.setup-wrapper h2 {
  margin: 0 0 25px 0;
  font-size: 19px;
}
.setup-wrapper form {
  display: flex;
  flex-direction: column;
}
.setup-wrapper form input:not([type=submit]) {
  margin-bottom: 15px;
  height: 17px;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.setup-wrapper form input:not([type=submit])::placeholder {
  opacity: 0.25;
  font-size: 11px;
}
.setup-wrapper form input:not([type=submit]):focus {
  outline: none;
  border-bottom:2px solid #7202BB;
}
.setup-wrapper form input[type=submit] {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  border: none;
  background: #7202bb;
  border-radius: 9px;
  margin-bottom: 15px;
}
.setup-wrapper p {
  font-size: 11px;
}
.setup-wrapper p a {
  color: #7202BB;
}

/* ====== Footer ====== */

footer {
  height: 110px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrapper {
  height: 80px;
  width: 291px;
}
.footer-content-top {
  color: white;
  width: 257px;
  margin: 0 auto;
}
.footer-content-bot {
  display: flex;
  justify-content: space-between;
}
.footer-bot-item {
  display: flex;
  flex-flow: column;
  color: white;
}
.footer-bot-item a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.footer-bot-item a:first-child {
  margin-top: 5px;
}
.footer-bot-item a:last-child {
  font-size: 8px;
}
.footer-bot-item p {
  font-size: 10px;
  text-align: center;
}
.footer-bot-item h3 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding: 0 20px;
  border: 1px solid white;
  box-sizing: border-box;
}

/* =================== Tablete =================== */

@media (min-width: 480px) {
  .page-wrapper {
    max-width: 999px;
    width: 100vw;
  }

  /* ====== Top Menu ====== */
  header {
    margin-bottom: 48px;
  }
  .top-nav-wrapper {
    width: 750px;
  }
  #partner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 318px;
    height: 47px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 9px;
  }
  .burger-box li:last-child {
    display: none;
  }

  /* ====== Product Place ====== */

  .productPlace {
    height: 337px;
    width: 769px;
    padding-top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: none;
    display: flex;
  }
  .productPlace-img {
    display: block;
    position:  absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .productPlace-wrapper {
    position:  absolute;
    top: 0;
    left: 0;
    right: 58%;
    bottom: 0;
    text-align: left;
    align-items: flex-start;
  }
  .productPlace-wrapper p:nth-child(2) {
    left: 0;
  }
  .productPlace-wrapper a {
    font-size: 12px;
    padding: 10px 25px;
    box-shadow: 0px 28px 12px -7px rgba(0, 0, 0, 0.1);;
  }

  /* ====== Numbers ====== */
  .numbers {
    height: 315.48px;
    margin-top: 51px;
    background: #7202BB;
  }
  .numbers-wrapper {
    grid-template-columns: 58.05% 1fr;
    grid-template-rows: 15% 1fr;
  }
  .numbers-item-one {
    background-image: none;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: block;

    grid-row: 1/2;
    grid-column: 1/3;
    padding: 0;
  }
  .numbers-item-subTwo {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url(../images/Tablet/bg.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
  }
  .numbers-item-two {
    grid-row: 2/3;
    grid-column: 2/3;
    background: transparent;
    align-items: flex-start;
    justify-content: left;
  }
  .nit-wrapper {
    width: 100%;
    height: 212px;
    margin: 10px 0 0 0;
    align-items: flex-start;
  }
  .nit-wrapper h3 {
    font-size: 23px;
    margin-left: 130px;
  }
  .nit-content {
    width: 259px;
    height: 155px;
    grid-row-gap: 30px;
    margin-left: 33px;
    grid-template-columns: repeat(4, 1fr);
  }
  .nit-item:nth-child(1) {
    grid-column: 1/3;
  }
  .nit-item:nth-child(2) {
    grid-column: 3/5;
  }
  .nit-item:nth-child(3) {
    grid-column: 1/2;
  }
  .nit-item:nth-child(4) {
    grid-column: 2/5;
  }
  .nit-item p {
    font-size: 39px;
  }
  .nit-item p:last-child {
    font-size: 11px;
  }
  .numbers-radio-wrapper {
    position: relative;
    flex-direction: row;
    justify-content: none;
    width: 769px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #7202BB;

   }
   .numbers-radio-wrapper::after {
     content: "";
     background: rgb(255, 255, 255);
     height: 3px;
     width: 3%;
     position: absolute;
     right: 0;
     bottom: -2px;
   }
  .numbers-radio {
    display: inline-block;
    width: auto;
  }
  .numbers-radio label {
    width: fit-content;
  }
  .numbers-radio img {
    max-width: 100%;
    width: 80%;
  }
  .numbers-radio input[type=radio]:checked+label::after {
    content: "";
    width: 80%;
    height: 3px;
    background-color: #7202BB;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
  }
  .numbers_radio-content {
    left: 0;
    top: 60px;
    text-align: left;
    width: 354px;
    height: 218px;
    display: flex;
    flex-wrap: wrap;
  }
  .numbers_radio-content h2 {
    margin-left: 0;
    width: 100%;
    font-size: 23px;
  }
  .numbers_radio-item:nth-child(even) {
    margin-right: auto;
  }
  .numbers_radio-item p {
    font-size: 39px;
  }
  .numbers_radio-item p:last-child, .numbers_radio-item p:first-child {
    font-size: 11px;
  }
  .numbers-radio:nth-child(2) .numbers_radio-content {
    top: 60px;
    left: calc(-100% - 16px);
  }
  .numbers-radio:nth-child(3) .numbers_radio-content {
    top: 60px;
    left: calc(-150% - 14px);
  }
  .numbers-radio:nth-child(4) .numbers_radio-content {
    top: 60px;
    left: calc(-250% - 38px);
  }
  .numbers-radio:nth-child(5) .numbers_radio-content {
    top: 60px;
    left: calc(-400% + 10px);
  }
  .numbers-radio:nth-child(6) .numbers_radio-content {
    top: 60px;
    left: calc(-550% + 6px);
  }

   /* ====== Helpful ====== */

  .helpful-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 769px;
    justify-content: space-between;
    padding: 49px 0;
  }
  .helpful-wrapper>p {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 56px;
  }
  .helpful-content {
    width: 219px;
    margin-top: 0;
  }

   /* ====== Success ====== */

   .success {
     height: 388px;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .success-wrapper {
    width: 769px;
    height: 300px;
    padding: 0;
    background-image: url(../images/Tablet/Mockup_1.png), url(../images/Tablet/g1.png), url(../images/Tablet/g2.png), url(../images/Tablet/g3.png);
    background-position: left center, 20% 85%, 0% 15%, 24.5% 0%;
    background-size: auto;
  }
  .success-content {
    margin-left: 245px;
    height: 100%;
    width: 485px;
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .success-content h2, .success-content h3, .success-content p {
    text-align: left;
  }
  .success-content h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
  }
  .success-content h3 {
    grid-row: 2/4;
    grid-column: 1/2;
    font-size: 22px;
    line-height: 50px;
    margin-top: -10px;
  }
  .success-content p {
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    font-family: 'Eastman Trial';
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 400;
    margin-top: -10px;
  }
  .success-content a  {
    margin: 0;
    height: 41px;
    width: 68%;
    box-sizing: border-box;
    text-align: center;
    margin-top: -10px;
  }
  .success-content br {
    display: block;
  }
  /* ====== Services ====== */

  div.services-wrapper {
    width: 769px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services-wrapper h2 {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }
  .services-content {
    width: 242.84px;
    box-sizing: border-box;
  }
  .services-content p {
    font-size: 11px;
  }
  .services-content h3 {
    font-size: 14px;
    height: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services-content a {
    font-size: 12px;
    font-weight: 600;
  }
  .services-content:nth-child(4) h3 {
    line-height: 16px;
  }
  .services-text {
    width: 483px;
  }
  .services-text p {
    font-weight: bold;
  }

   /* ====== Additional ====== */

    .additional-wrapper h2 {
     font-size: 40px;
     width: 100%;
   }
   .additional-content {
     width: 769px;
     grid-gap: 13px 30px;
     grid-template-columns: repeat(10, 1fr);
     grid-template-rows:  repeat(3, 1fr);
   }
   .additional-item {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
   }
   .additional-item:nth-child(1) {
     grid-column: 1/3;
   }
   .additional-item:nth-child(2) {
     grid-column: 3/5;
   }
   .additional-item:nth-child(3) {
     grid-column: 5/7;
   }
   .additional-item:nth-child(4) {
     grid-column: 7/9;
   }
   .additional-item:nth-child(5) {
     grid-column: 9/11;
   }
   .additional-item:nth-child(6) {
     grid-column: 2/4;
   }
   .additional-item:nth-child(7) {
     grid-column: 4/6;
   }
   .additional-item:nth-child(8) {
     grid-column: 6/8;
   }
   .additional-item:nth-child(9) {
     grid-column: 8/10;
   }
   .additional-item:nth-child(10) {
     grid-column: 3/5;
   }
   .additional-item:nth-child(11) {
     grid-column: 5/7;
   }
   .additional-item:nth-child(12) {
     grid-column: 7/9;
   }
   .additional-item p {
     font-size: 6px;
   }
   .additional-item-pic {
     height: auto;
  }

  /* ====== Work ====== */

  .work-wrapper {
    width: 741px;
    margin-top: 100px;
  }
  .work-wrapper h2 {
    font-size: 40px;
  }
  .work-content {
    padding-left: 0;
  }
  .work-content ol {
    margin-top: 45px;
  }
  .work-content ol li {
    width: 329px;
    text-align: right;
  }
  .work-content ol li:not(:first-child) h3 {
    margin-top: 26px;
  }
  .work-content ol li:nth-child(even) {
    margin-left: auto;
    text-align: left;
  }
  .work-content ol li::before {
    left: -53px;
  }
  .work-content ol li:nth-child(odd)::before {
    left: calc(100% + 30px);
  }
  .work-content ol li:not(:last-child)::after {
    left: -38px;
    border-width: 2px;
  }
  .work-content ol li:nth-child(odd)::after {
    left: calc(100% + 45.5px);
  }
  .work-content ol li:hover h3 {
    color: #d84315;
    transition: 0.75s;
  }
  .work-content ol li:hover::before {
    background: #d84315;
  }
  .work-content ol li:hover::after {
    border-color: #d84315;
  }
  @keyframes circleBackground {
    0%    {background: #7202BB;}
    100%  {background: #c6ff00;}
  }
  .work-content ol li:hover+li::before {
    animation: circleBackground 1s 0.5s infinite alternate;
  }

  /* ====== Sentence ====== */

  .sentence-wrapper {
    padding: 44px 0;
    width: 703px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: left;
  }
  .sentence-wrapper h2 {
    width: max-content;
  }
  .sentence-wrapper p {
    width: 311px;
    display: flex;
    align-items: flex-end;
  }
  .sentence-wrapper h3, .sentence-wrapper form {
    margin: 0;
  }
  .sentence-wrapper form {
    float: right;
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: end;
  }
  .sentence-wrapper input[type=submit] {
    margin: 0;
  }
  .sentence-wrapper input:not([type=submit]):focus::placeholder {
    color: transparent;
  }

  /* ====== Clients ====== */

  .clients {
    position: relative;
    margin-bottom: 75px;
  }
  .clients-wrapper {
    display: none;
  }
  #viewport {
    display: block;
    width: 851px;
    height: 352px;
    margin-left: auto;
    overflow: hidden;
  }
  #viewport h1 {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 55px;
  }
  .slider {
    position: relative;
    width: calc(100% * 3);
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    transition: 500ms;
  }
  .slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .slide img {
    width: 60.63455%;
    object-fit: cover;
  }
  .slideContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 125px;
  }
  .slideContent h3 {
    font-size: 23px;
    font-weight: bold;
    line-height: 130%;
  }
  .slideContent p {
    font-size: 12px;
    width: 300px;
  }
  .slideContent p span {
    color: #7202bb;
  }
  #viewSlider {
    width: calc(30px * 3);
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: calc(50% + (30px * 3) / 2);
    bottom: calc(-25px - 10px);
  }
  .viewSlide {
    width: 20px;
    height: 20px;
    background-color: #939393;
    border-radius: 50%;
  }
  .clients button {
    display: block;
    width: 51px;
    height: 51px;
    background-color: #7202bb;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 29px;
    line-height: 51px;
    text-align: center;
    position: absolute;
    top: calc(50% - 25.5px);
    box-sizing: border-box;
  }
  .clients button:focus {
    outline: none;
  }
  #preview {
    left: 32px;
    padding-right: 3px;
  }
  #next {
    right: 32px;
    padding-left: 3px;
  }

  /* ====== Setup ====== */

  .setup {
    width: 769px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 50px auto;
  }
  .formLinks {
    width: 332px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 45px 63px;
    justify-items: center;
    align-items:flex-end;
  }
  .formLinks a {
    width: fit-content;
  }
  .formLinks img {
    max-width: 100%;
    width: 100%;
  }
  .formLinksContacts {
    grid-column: 1/3;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .formLinksContacts a {
    font-size: 14px;
    color: #7202BB;
    text-decoration: none;
  }
  .formLinksContacts a:last-child {
    font-size: 8px;
  }
  .setup-wrapper {
    margin: 0;
  }

  /* ====== Footer ====== */

  footer {
    height: 83px;
  }
  .footer-wrapper {
    width: 769px;
    display: flex;
    height: auto;
    justify-content: space-between;
  }
  .footer-content-top {
    margin: 0;
  }
  .footer-content-bot {
    width: calc(50% + 60px);
  }
  .footer-bot-item {
    align-items: center;
  }
  .footer-bot-item:last-child {
    flex-direction: row;
  }
  .footer-bot-item:last-child p {
    width: 101px;
  }
  .footer-bot-item:last-child h3 {
    font-size: 11px;
  }
 }
@media (min-width: 480px) and (max-width: 960px) {
  #viewport {
    width: 88.65vw;
    height: 36.666vw;
  }
  #viewport h1 {
    font-size: 4.16666vw;
    top: 5.73vw;
  }
  .slideContent {
    margin-top: 13.02vw;
  }
  .slideContent h3 {
    font-size: 2.4vw;
  }
  .slideContent p {
    font-size: 1.25vw;
    width: 31.25vw;
  }
  .clients button {
    width: 5.3125vw;
    height: 5.3125vw;
    font-size: 3.02vw;
    line-height: 5.3125vw;
    top: calc(50% - 2.66vw);
  }
  .viewSlide {
    width: 2.08333vw;
    height: 2.08333vw;
  }
  #viewSlider {
    width: calc(3.125vw * 3);
    left: calc(60% - (3.125vw * 3));
    bottom: calc(-2.604vw - 1.04vw);
  }
  #preview {
    left: 3.33333vw;
    padding-right: 0.3125vw;
  }
  #next {
    right: 3.33333vw;
    padding-left: 0.3125vw;
  }
}
@media (min-width:480px) and (max-width: 800px) {
  header {
    margin-bottom: 6vw;
  }
  .top-nav-wrapper {
    width: 93%;
  }
  #partner {
    width: max-content;
    height: max-content;
    font-size: 2vw;
    padding: 1.5% 5vw;
  }
  .productPlace {
    width: 93%;
    height: max-content;
  }
  .productPlace::before {
    content: "";
    display: block;
    padding-top: 45.3%;
  }
  .productPlace-img {
    width: 57%;
  }
  .productPlace-img img {
    max-width: 100%;
    margin-left: auto;
  }
  .numbers {
    height: 39.75vw;
  }
  .numbers-radio-wrapper {
    width: 93%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .numbers_radio-content {
    top: 7.5vw;
    width: 44.25vw;
    height: 27.25vw;
  }
  .numbers-radio:nth-child(2) .numbers_radio-content {
    top: 7.5vw;
  }
  .numbers-radio:nth-child(3) .numbers_radio-content {
    top: 7.5vw;
  }
  .numbers-radio:nth-child(4) .numbers_radio-content {
    top: 7.5vw;
  }
  .numbers-radio:nth-child(5) .numbers_radio-content {
    top: 7.5vw;
  }
  .numbers-radio:nth-child(6) .numbers_radio-content {
    top: 7.5vw;
  }
  .numbers_radio-content h2 {
    font-size: 2.875vw;
  }
  .numbers_radio-content p {
    font-size: 4.875vw;
  }
  .numbers_radio-item p:last-child, .numbers_radio-item p:first-child {
    font-size: 1.375vw;
  }
  .nit-wrapper {
    height: 26.5vw;
    margin-top: 1.25vw;
  }
  .nit-wrapper h3 {
    font-size: 2.875vw;
    margin-left: 16.25vw;
  }
  .nit-content {
    width: 32.375vw;
    height: 19.375vw;
  }
  .nit-item p {
    font-size: 4.875vw;
  }
  .nit-item p:last-child {
    font-size: 1.375vw;
  }
  .helpful-wrapper {
    width: 96.125vw;
    padding: 6.125vw 0;
  }
  .helpful-wrapper>p {
    font-size: 5vw;
    margin-bottom: 7vw;
  }
  .helpful-content {
    width: 27.375vw;
  }
  .helpful-content img {
    max-width: 100%;
    width: 12.625vw;
  }
  .helpful-content img+img {
    width: 14.625vw;
  }
  .helpful-content h3 {
    font-size: 1.75vw;
    margin-top: 1.5vw;
  }
  .helpful-content p {
    width: 100%;
    font-size: 1.375vw;
    margin-top: 0.75vw;
  }
  .success {
    height: 48.5vw;
  }
  .success-wrapper {
    width: 96vw;
    height: 37.5vw;
    background-size: 23.25vw, 7vw, 7vw, 7.6vw;
  }
  .success-content {
    width: 60.625vw;
    margin-left: 30.625vw;
  }
  .success-content h2 {
    font-size: 4.25vw;
  }
  .success-content h3 {
    font-size: 2.75vw;
    margin-top: -1.25vw;
    line-height: 6.25vw;
  }
  .success-content p {
    font-size: 2vw;
    margin-top: -1.25vw;
    line-height: 2.6vw;
  }
  .success-content a {
    height: 5.125vw;
    margin-top: -1.25vw;
    padding: 1.5vw 1.125vw;
    border-radius: 1vw;
    font-size: 1.5vw;
  }
  div.services-wrapper {
    width: 96vw;
  }
  .services-wrapper h2 {
    font-size: 5vw;
  }
  .services-content {
    width: 30.35vw;
    padding: 7.875vw 1.875vw 1.875vw 1.875vw;
    margin-top: 12.5vw;
  }
  .services-content h3 {
    font-size: 1.75vw;
    height: 4vw;
  }
  .services-content p {
    margin-top: 2.25vw;
    font-size: 1.375vw;
  }
  .services-content a {
    margin-top: 3.5vw;
    font-size: 1.5vw;
  }
  .services-content img {
    height: 15vw;
  }
  .services-content:nth-child(4) h3 {
    line-height: 2vw;
  }
  .services-item {
    margin-top: 3.75vw;
  }
  .services-text {
    width: 60.375vw;
  }
  .services-text p {
    font-size: 1.75vw;
  }
  .additional-wrapper h2 {
    font-size: 5vw;
  }
  .additional-content {
    width: 96.125%;
    grid-gap: 1.625vw 3.75vw;
  }
  .additional-item p {
    font-size: 0.75vw;
  }
  .work-wrapper {
    width: 92.625vw;
    margin-top: 12.5vw;
  }
  .work-wrapper h2 {
    font-size: 5vw;
  }
  .work-content ol {
    margin-top: 5.625vw;
  }
  .work-content ol li {
    width: 41.125vw;
  }
  .work-content ol li h3 {
    font-size: 1.725vw;
    margin-top: 2.5vw;
  }
  .work-content ol li:not(:first-child) h3 {
    margin-top: 3.25vw;
  }
  .work-content ol li::before {
    width: 4.125vw;
    height: 4.125vw;
    line-height: 4.125vw;
    font-size: 2.75vw;
    left: -6.625vw;
  }
  .work-content ol li:nth-child(odd)::before {
    left: calc(100% + 3.75vw);
  }
  .work-content ol li:not(:last-child)::after {
    left: -4.75vw;
  }
  .work-content ol li:nth-child(odd)::after {
    left: calc(100% + 5.6vw);
  }
  .work-content p {
    font-size: 1.375vw;
    margin-top: 0.625vw;
  }
  .sentence-wrapper {
    width: 87.875vw;
    padding: 5.5vw 0;
  }
  .sentence-wrapper h2 {
    font-size: 4.25vw;
  }
  .sentence-wrapper h3 {
    width: 37.5vw;
    font-size: 2.5vw;
  }
  .sentence-wrapper p {
    width: 38.875vw;
    font-size: 1.75vw;
  }
  .sentence-wrapper form {
    width: 37.5vw;
  }
  .sentence-wrapper input:not([type=submit]) {
    height: 6.125vw;
    margin-bottom: 1.375vw;
    padding-left: 1.125vw;
    font-size: 1.375vw;
  }
  .sentence-wrapper input[type=submit] {
    width: 20.375vw;
    height: 5.125vw;
    border-radius: 1.125vw;
    font-size: 1.5vw;
  }
  .setup {
    width: 96.125vw;
  }
  .formLinks {
    width: 41.5vw;
    grid-gap: 5.625vw 7.875vw;
  }
  .formLinksContacts a {
    font-size: 1.75vw;
  }
  .formLinksContacts a:last-child {
    font-size: 1vw;
  }
  .setup-wrapper {
    width: 39.875vw;
    padding: 2.5vw 1.5vw 2.5vw 1.875vw;
    border-radius: 3vw;
    box-shadow: 0 0 4.375vw rgb(0 0 0 / 25%);
  }
  .setup-wrapper h2 {
    font-size: 2.375vw;
    margin: 0 0 3.125vw 0;
  }
  .setup-wrapper form input:not([type=submit]) {
    margin-bottom: 1.875vw;
    height: 2.125vw;
  }
  .setup-wrapper form input:not([type=submit])::placeholder {
    font-size: 1.375vw;
  }
  .setup-wrapper form input[type=submit] {
    height: 5.375vw;
    font-size: 2.25vw;
    margin-bottom: 1.875vw;
    border-radius: 1.125vw;
  }
  .setup-wrapper p {
    font-size: 1.375vw;
  }
  .footer-wrapper {
    width: 96.125vw;
  }
  .footer-content-top {
    width: 32.125vw;
  }
  .footer-content-top h1 {
    font-size: 4.125vw;
  }
  .footer-content-top p {
    font-size: 1.25vw;
    line-height: 2vw;
  }
  .footer-content-top hr {
    bottom: 0.25vw;
    left: 0.5vw;
  }
  .footer-content-bot {
    width: calc(50% + 7.5vw);
  }
  .footer-bot-item a {
    font-size: 1.75vw;
  }
  .footer-bot-item a:last-child {
    font-size: 1vw;
  }
  .footer-bot-item a:first-child {
    margin-top: 0.625vw;
  }
  .footer-bot-item:last-child p {
    width: 12.625vw;
    font-size: 1.25vw;
  }
  .footer-bot-item:last-child h3 {
    font-size: 1.375vw;
    padding: 0 2.5vw;
  }
}
@media (min-width: 480px) and (max-width: 750px) {
  .productPlace-wrapper {
    width: 42.67%;
    height: 62.62%;
  }
  .productPlace-wrapper p {
    font-size: 3vw;
  }
  .productPlace-wrapper p:nth-child(2) {
    left: 4vw;
  }
  .productPlace-wrapper p:nth-child(3) {
    font-size: 1.5vw;
  }
  .productPlace-wrapper a {
    font-size: 1.5vw;
    width: 19.5vw;
    text-align: center;
    box-shadow: 0px 3vw 1.5vw -0.8vw rgba(0, 0, 0, 0.1);;
  }
@media (min-width: 480px) and (max-width: 660px) {
  .numbers-wrapper {
    overflow: hidden;
  }
  .numbers-item-subTwo {
    background-size: 100% 100%;
  }
}
@media (min-width:480px) and (max-width: 560px) {
  #partner {
    padding: 1.5% 3.5vw;
    margin-right: 5%;
  }
}
